<!-- Circular Menu -->
<div id="circularMenu" class="circular-menu">
  <a
    class="floating-btn"
    onclick="document.getElementById('circularMenu').classList.toggle('active');"
  >
    <i class="fa fa-reorder"></i>
  </a>
  <menu class="items-wrapper">
    <a
      href="#"
      class="menu-item fa fa-users"
      data-toggle="tooltip"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      data-placement="left"
      title="Join Class"
    ></a>
    <a
      href="/home"
      class="menu-item material-icons"
      data-toggle="tooltip"
      data-bs-toggle="modal"
      data-bs-target="#exampleModalCenter"
      data-placement="left"
      title="Create Class"
      >group_add</a
    >
    <a
      href="/assignment"
      class="menu-item fa fa-book"
      data-toggle="tooltip"
      data-placement="left"
      title="Assigment"
    ></a>
    <a
      href="/calendar"
      class="menu-item fa fa-calendar"
      data-toggle="tooltip"
      data-placement="left"
      title="Calender"
    ></a>
    <a
      href="/settings"
      class="menu-item fa fa-cog"
      data-toggle="tooltip"
      data-placement="left"
      title="Setting"
    ></a>
  </menu>
</div>
