<!-- Navbar Section -->
<nav
  class="navbar navbar-light shadow-lg p-3 mb-5"
  style="
    background-image: linear-gradient(
      to right,
      #000424 0%,
      #094679 0%,
      #00d4ff 100%
    );
    border: 1px;
    padding: 0;
    margin: 8px;
    border-radius: 10px;
  "
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img
        src="assets/logo_project-removebg-preview.png"
        alt="WebLearning"
        width="70"
      />
      <span class="navbar-brand mb-0 h1"></span>
    </a>
    <div class="d-flex align-items-center">
      <a href="/settings" role="button">
        <img
          src="assets/user.png"
          class="rounded-circle userLogo"
          height="30"
          alt="profile user"
          loading="lazy"
        />
      </a>
    </div>
  </div>
</nav>
<!-- End of Navbar Section -->
