<!-- Navbar Section -->
<nav
  class="navbar navbar-light shadow-lg p-3"
  style="
    background-image: linear-gradient(
      to right,
      #000424 0%,
      #094679 0%,
      #00d4ff 100%
    );
  "
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img
        src="assets/logo_project-removebg-preview.png"
        alt="WebLearning"
        width="70"
      />
      <span class="navbar-brand mb-0 h1"></span>
    </a>
    <div class="d-flex align-items-center">
      <div class="dropdown">
        <a
          class="dropbtn"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="assets/user.png"
            class="rounded-circle userLogo"
            height="30"
            alt="profile user"
            loading="lazy"
          />
        </a>
        <ul
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdown"
        >
          <li>
            <a class="dropdown-item" href="/createAccount">Create account</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- End of Navbar Section -->
