<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%- include ('./layouts/header') %>

    <title>
      <%= title %>
    </title>
</head>

<body>
  <%- include ('./layouts/navbar') %>

    <div class="container" style="margin-top: -28px;">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search Class" aria-label="Search"
          aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i data-feather="search"></i>
        </span>
      </div>
    </div>
    <br>
    <div class="container" style="border: none;">
      <div class="card">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-11">

                <a href="" style="text-decoration: none;">
                  <img src="assets/algorthm.jpg" class="gambaralgo" alt="kelas algoritma">

                  <h6 class="algorithm">Web Programming 16<sup>th</sup> assignment<br><small>WP245 - Janson Hendrily</small>
                  </h6>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Script -->
    <!-- Script Jquery -->
    <script src="https://api.jquery.com/"></script>
    <!-- Script External -->
    <script src="<%= script %> "></script>
    <!-- Script Feather Icon -->
    <script>
      feather.replace()
    </script>
</body>

</html>